<h1>Which causes cancer according to the daily mail?</h1>
        {{#each answers}}
            <button class="answer" value="{{text}}" name="{{type}}" id="{{type}}" >{{text}} </button>
        {{/each}}
        {{#each answers}}
            {{#if url}}
                <p id="url">This is what the daily mail have to say <a href="{{url}}">{{url}}</a></p>
            {{/if}}
        {{/each}}


<div>
    <button id="next">Next</button>
</div>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    function showResult(data) {
        var result = "Wrong! ";
        $("#cancer").addClass("correct");
        $("#fake").addClass("wrong");
        $("#url").css("display", "block");
        $("#next").css("display", "block");
        if(data === "true"){
            result = "Correct! "
        }
        $("#url").before("<p> " + result + "<p>")

    }

    $(".answer").click(function (e) {
        var val = $(this).attr("name");
        $.ajax({
            type:"POST",
            url:"/answer",
            data: {
                type: val
            }
        }).done(function (data) {
            showResult(data);
        })
    });

    $('#next').click(function () {
        window.location.reload(true);
    })
})

</script>