<h1>Which causes cancer according to the daily mail?</h1>
        {{#each answers}}
            <button class="answer" value="{{text}}" id="{{id}}" >{{text}} </button>
        {{/each}}
        {{#each answers}}
                <p id="url">This is what the daily mail have to say <a href="{{url}}">{{url}}</a></p>
        {{/each}}


<div>
    <button id="next">Next</button>
</div>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    function showResult(data,id) {
        var result;
        $("#next").css("display", "block");
        if(data === "true"){
            console.log("true!");
            console.log(id);
            $(".answer").addClass("wrong");
            $('#' + id).removeClass("wrong").addClass("correct");
            result = "Correct! "
        }else{
            result = "Wrong! ";
            $(".answer").addClass("correct");
            $('#' + id).removeClass("correct").addClass("wrong");
        }
        $("#url").before("<p> " + result + "<p>").css("display", "block");
    }

    $(".answer").click(function (e) {
        var id = $(this).attr("id");
        $.ajax({
            type:"POST",
            url:"/answer",
            data: {
                id: id
            }
        }).done(function (data) {
            showResult(data,id);
        })
    });

    $('#next').click(function () {
        window.location.reload(true);
    })
})

</script>